{% autoescape off %}
Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте 127.0.0.1:8000, которая связана с этим адресом электронной почты.

Пожалуйста, перейдите на эту страницу и введите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}

Ваше имя пользователя (на случай, если вы его забыли): {{ user.username }}

Спасибо, что используете наш сайт!

Команда сайта {{ site_name }}.

{% endautoescape %}