

{% extends "base_form.html" %}

{% block title %}
  Новый пароль
{% endblock title %}

{% block form_header %}
  Введите новый пароль
{% endblock form_header %}

{% block form_action_title %}
  Назначить новый пароль
{% endblock form_action_title %}

{% block content %}
  {% if validlink %}  
    {{ block.super }}
  {% endif %}
{% endblock content %}

{% block alternative_content %}
    {% if not validlink %}
      {% with card_header="Ошибка" card_body="Ссылка сброса пароля содержит ошибку или устарела." %}
        {% include "users/includes/card.html" %} 
      {% endwith %}
    {% endif %}
{% endblock alternative_content %}
