

{% extends "base_form.html" %}

{% block title %}
  Новый пароль
{% endblock title %}

{% block form_header %}
  Введите новый пароль
{% endblock form_header %}

{% block form_action_title %}
  Назначить новый пароль
{% endblock form_action_title %}

{% block content %}
  {% if validlink %}  
    {{ block.super }}
  {% endif %}
{% endblock content %}

{% block alternative_content %}
    {% if not validlink %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
      <div class="card">
          <div class="card-header">Ошибка</div>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
    {% endif %}
{% endblock alternative_content %}
